## EXTRACTION AND CLEANING OF AUTOMOTIVE DATASET FROM FLO CONCEPT LTD

In [1]:
#import pandas package
import pandas as pd

#import dataset
df = pd.read_excel('Rohit.xlsx', header=0, sep=',', engine='openpyxl')

#print first 5 rows
print(df.head())

    Driver                VIN       vir          Plant Location  \
0    milan  WDB1240902F206403  70084726  Barons Auctioneers Ltd
1   kieran  YS2S6X20009265677  10433720            NVD Rosslare
2      con  WV1ZZZSYZK9062717  70088980             Dublin Port
3      jan  WV1ZZZSYZL9018482  40552636         NVD Ringaskiddy
4  crosbie  WV1ZZZSYZL9021243  21227347             Dublin Port

            Start Location Code                Start Location  \
0                     BALDONNEL                 NVD Baldonnel
1                      ROSSLARE                  NVD Rosslare
2  051.870247000-008.4827050000  Blackwater Motors Volkswagen
3                   RINGASKIDDY               NVD Ringaskiddy
4                   DUBLIN_PORT                   Dublin Port

                      Target Location          Target Location Code  \
0  Maguire Warehouse Estate Units 2&3  052.652732000-008.5660720000
1                SM Components Antrim  054.678647999-005.9840419900
2                     Automotive Team  053.274118998-006.2158870000
3                       NVD Baldonnel                     BALDONNEL
4            Limerick Frank Hogan Ltd  052.664230000-008.6039500000

                       targetstreet targetzip  ... perunitusedistance  \
0                         Dock Road   V94X9W9  ...          22.234556
1  Newtownabbey, Unit G 9 Mitchelin   BT364PT  ...         204.736000
2                  86-87 Furze Road   D18W1W7  ...         262.170000
3                               NaN  D22 AV20  ...          83.736667
4                       Dublin Road  V94 X583  ...         211.351000

  perunitemptydistance  driverbonusmultiplier  bonusearned targetcountry  \
0                0.000                    3.0        18.81            IE
1                0.000                    3.0        18.81            NI
2               42.678                    3.0        18.81            IE
3                0.000                    3.0        18.81            IE
4              141.838                    3.0        18.81            IE

  startcountry      Make  Chassis  dlr_code  SLA Compliant
0           IE  HGV LOHR      NaN       NaN          (yes)
1           IE       TEA  9265677    TEA_SM            yes
2           IE        VW   303513       NaN            yes
3           IE        VW   305735   VWC_088            NaN
4           IE        VW   306145   VWC_460            yes

[5 rows x 61 columns]

In [2]:
#check info of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105410 entries, 0 to 105409
Data columns (total 61 columns):
Driver                   101943 non-null object
VIN                      105410 non-null object
vir                      105350 non-null object
Plant Location           105404 non-null object
Start Location Code      105410 non-null object
Start Location           105410 non-null object
Target Location          105410 non-null object
Target Location Code     105410 non-null object
targetstreet             89484 non-null object
targetzip                75073 non-null object
To city                  101060 non-null object
targetstate              101061 non-null object
targetgpseast            105410 non-null float64
targetgpsnorth           105410 non-null float64
Start Date               105337 non-null object
End Date                 105410 non-null object
distance                 105410 non-null float64
ghdistance               92630 non-null float64
Dist. from Previous      101942 non-null float64
tourapproach             62979 non-null float64
Franchise                105407 non-null object
Distributor              71410 non-null object
Tour                     101948 non-null float64
Model                    105365 non-null object
vehiclegroup             105363 non-null object
CEU                      105365 non-null float64
External Ref 1           1913 non-null object
External Ref 2           4751 non-null object
Final Organization       84942 non-null object
Final Location           103267 non-null object
finalsz                  103267 non-null object
startsz                  105410 non-null object
targetsz                 105410 non-null object
Target Delivery Time     103471 non-null object
Order Time               104353 non-null object
Trailer type             89852 non-null object
transportorderno         105410 non-null int64
Transport TDT            103838 non-null object
outboundport             0 non-null float64
inboundport              0 non-null float64
income                   74748 non-null float64
dropsequence             101948 non-null float64
Truck                    88342 non-null object
startedby                105215 non-null object
completedby              105410 non-null object
Team                     96159 non-null object
finallz                  103267 non-null object
Work Type                105410 non-null object
driverbonusrate          104905 non-null float64
driverbonuszone          104905 non-null object
driverbonusdistance      104903 non-null float64
perunitusedistance       101934 non-null float64
perunitemptydistance     101945 non-null float64
driverbonusmultiplier    104903 non-null float64
bonusearned              104903 non-null float64
targetcountry            105410 non-null object
startcountry             105410 non-null object
Make                     105364 non-null object
Chassis                  88012 non-null object
dlr_code                 84942 non-null object
SLA Compliant            90789 non-null object
dtypes: float64(18), int64(1), object(42)
memory usage: 49.1+ MB

#### Dataset Description
     VIN is the unique ID of each car.
     Each car is attached to one Tour.
     Each tour starts somewhere and ends somewhere, and is dated.
     Each car has a CEU number associated with it.
     So each tour has a CEU - being the sum of the CEUs of the cars on it.

#### Goal
     We're interested in the average CEU per tour... and whether the CEU per tour changes depending on the day of the week,      week of the month, or month of the year.
     
     We're also interested in where the drivers end up each week - they should leave their home/base on a Monday and come        back to/close to that home/base every Friday. Home/base could be NVD Ringaskiddy, NVD Rosslare, NVD Baldonnell, NVD        Kill, Dublin Port.
     
     Lastly, we'll try to see if there are patterns of interest in how the tours that they are driving might change shape        towards the end of the week.

In [3]:
#create a new column that computes average CEU per tour
df['Avg_CEU_per_tour'] = df['CEU'].mean()/df['Tour']

#print first 5 rows of this new column
print(df['Avg_CEU_per_tour'].head())

0    0.000310
1    0.000309
2    0.000311
3    0.000308
4    0.000308
Name: Avg_CEU_per_tour, dtype: float64

#### We're interested in keeping these columns: Driver, Start Location, Target Location, Start Date, End Date, Tour, Final Location, Target Delivery Time, Order Time, Truck, startedby and completedby. We will drop the rest.

In [4]:
columns_to_use = ['Driver', 'Start Location', 'Target Location', 'Start Date', 'End Date', 'Tour', 'Final Location', 
                  'Target Delivery Time', 'Order Time', 'startedby', 'completedby', 'Avg_CEU_per_tour']

#use a for loop to delete other columns
for i in df.columns:
    if i not in columns_to_use:
        df = df.drop([i], axis=1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105410 entries, 0 to 105409
Data columns (total 12 columns):
Driver                  101943 non-null object
Start Location          105410 non-null object
Target Location         105410 non-null object
Start Date              105337 non-null object
End Date                105410 non-null object
Tour                    101948 non-null float64
Final Location          103267 non-null object
Target Delivery Time    103471 non-null object
Order Time              104353 non-null object
startedby               105215 non-null object
completedby             105410 non-null object
Avg_CEU_per_tour        101948 non-null float64
dtypes: float64(2), object(10)
memory usage: 9.7+ MB

In [6]:
df.head()

,Driver,Start Location,Target Location,Start Date,End Date,Tour,Final Location,Target Delivery Time,Order Time,startedby,completedby,Avg_CEU_per_tour
0,milan,NVD Baldonnel,Maguire Warehouse Estate Units 2&3,2019-11-11T23:14,2019-11-12T10:52,368316.0,Maguire Warehouse Estate Units 2&3,2019-11-07T23:59,2019-10-29T16:00,MILVLAOVIC,MILVLAOVIC,0.000310
1,kieran,NVD Rosslare,SM Components Antrim,2019-11-20T17:06,2019-11-21T15:40,369490.0,SM Components Antrim,2019-11-21T23:59,2019-11-18T10:37,CIARYAN,CIARYAN,0.000309
2,con,Blackwater Motors Volkswagen,Automotive Team,2019-10-31T15:56,2019-11-01T10:40,367010.0,Automotive Team,2019-11-05T23:59,2019-10-30T12:23,CONDUN,CONDUN,0.000311
3,jan,NVD Ringaskiddy,NVD Baldonnel,2019-11-29T21:22,2019-11-30T12:58,371143.0,Esb Networks Fleet & Equipment,2020-05-19T23:59,2019-11-25T17:05,JANGORA,JANGORA,0.000308
4,crosbie,Dublin Port,Limerick Frank Hogan Ltd,2019-11-29T14:32,2019-11-29T14:32,370614.0,Limerick Frank Hogan Ltd,2019-12-02T23:59,2019-11-27T10:06,NIASHERIDAN,NIASHERIDAN,0.000308

#### Notice the values for Start Date,	End Date, Target Delivery Time and Order Time consist of date and time. Let's split them in individual dates and times.

In [7]:
#splitting the date & time columns
df[['start date', 'start time']] = df['Start Date'].str.split('T', expand=True)
df[['end date', 'end time']] = df['End Date'].str.split('T', expand=True)
df[['target delivery date', 'target delivery time']] = df['Target Delivery Time'].str.split('T', expand=True)
df[['order date', 'order time']] = df['Order Time'].str.split('T', expand=True)

In [8]:
df.head()

,Driver,Start Location,Target Location,Start Date,End Date,Tour,Final Location,Target Delivery Time,Order Time,startedby,completedby,Avg_CEU_per_tour,start date,start time,end date,end time,target delivery date,target delivery time,order date,order time
0,milan,NVD Baldonnel,Maguire Warehouse Estate Units 2&3,2019-11-11T23:14,2019-11-12T10:52,368316.0,Maguire Warehouse Estate Units 2&3,2019-11-07T23:59,2019-10-29T16:00,MILVLAOVIC,MILVLAOVIC,0.000310,2019-11-11,23:14,2019-11-12,10:52,2019-11-07,23:59,2019-10-29,16:00
1,kieran,NVD Rosslare,SM Components Antrim,2019-11-20T17:06,2019-11-21T15:40,369490.0,SM Components Antrim,2019-11-21T23:59,2019-11-18T10:37,CIARYAN,CIARYAN,0.000309,2019-11-20,17:06,2019-11-21,15:40,2019-11-21,23:59,2019-11-18,10:37
2,con,Blackwater Motors Volkswagen,Automotive Team,2019-10-31T15:56,2019-11-01T10:40,367010.0,Automotive Team,2019-11-05T23:59,2019-10-30T12:23,CONDUN,CONDUN,0.000311,2019-10-31,15:56,2019-11-01,10:40,2019-11-05,23:59,2019-10-30,12:23
3,jan,NVD Ringaskiddy,NVD Baldonnel,2019-11-29T21:22,2019-11-30T12:58,371143.0,Esb Networks Fleet & Equipment,2020-05-19T23:59,2019-11-25T17:05,JANGORA,JANGORA,0.000308,2019-11-29,21:22,2019-11-30,12:58,2020-05-19,23:59,2019-11-25,17:05
4,crosbie,Dublin Port,Limerick Frank Hogan Ltd,2019-11-29T14:32,2019-11-29T14:32,370614.0,Limerick Frank Hogan Ltd,2019-12-02T23:59,2019-11-27T10:06,NIASHERIDAN,NIASHERIDAN,0.000308,2019-11-29,14:32,2019-11-29,14:32,2019-12-02,23:59,2019-11-27,10:06

In [9]:
#check no. of columns
df.shape[1]

20

In [10]:
#deleting Start Date, End Date, Target Delivery Time and Order Time columns
df = df.drop(['Start Date', 'End Date', 'Target Delivery Time', 'Order Time'], axis=1)

#no. of columns should have reduced by 4
df.shape[1]

16

In [11]:
#check for null values
df.isna().sum()

Driver                  3467
Start Location             0
Target Location            0
Tour                    3462
Final Location          2143
startedby                195
completedby                0
Avg_CEU_per_tour        3462
start date                73
start time                73
end date                   0
end time                   0
target delivery date    1939
target delivery time    1939
order date              1057
order time              1057
dtype: int64

In [12]:
#Let's inspect the dataframe where Driver is null
df[df['Driver'].isnull()]

,Driver,Start Location,Target Location,Tour,Final Location,startedby,completedby,Avg_CEU_per_tour,start date,start time,end date,end time,target delivery date,target delivery time,order date,order time
14,NaN,Mcelvaney Finglas,NVD Baldonnel,NaN,NVD Baldonnel,NaN,VSI2,NaN,NaN,NaN,2019-11-14,14:58,2020-03-06,23:59,2019-11-12,09:09
69,NaN,NVD Baldonnel,Brittany Ferries,NaN,Brittany Ferries,NaN,ANDBARCOE,NaN,NaN,NaN,2019-11-26,11:11,2019-12-02,23:59,2019-11-22,11:30
70,NaN,NVD Ringaskiddy,Brittany Ferries,NaN,Brittany Ferries,NaN,ANDBARCOE,NaN,NaN,NaN,2019-11-26,11:11,2019-12-02,23:59,2019-11-22,11:30
108,NaN,Spirit Lillis O'Donnell Transit Centre,NVD Baldonnel,NaN,Spirit Lillis O'Donnell Transit Centre,VSI2,VSI2,NaN,2019-11-28,10:06,2019-11-28,10:06,2019-12-04,23:59,2019-11-25,10:18
211,NaN,NVD Baldonnel,Frank Keane Vw,NaN,Frank Keane Vw,RAMSAV,RAMSAV,NaN,2019-11-21,13:03,2019-11-21,14:41,2019-11-25,23:59,2019-11-18,09:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105320,NaN,J. A. Boland & Sons Wexford,NVD Rosslare,NaN,J. A. Boland & Sons Wexford,VSI2,VSI2,NaN,2020-09-16,08:50,2020-09-16,08:50,2020-09-22,23:59,2020-03-03,13:35
105321,NaN,Hertz Cork Airport,NVD Rosslare,NaN,Hertz Cork Airport,VSI2,VSI2,NaN,2020-09-22,10:01,2020-09-22,10:01,NaN,NaN,2020-01-08,18:11
105322,NaN,Bolands Wexford,NVD Rosslare,NaN,Bolands Wexford,VSI2,VSI2,NaN,2020-09-22,14:59,2020-09-22,14:59,2020-10-07,23:59,2020-09-10,18:22
105323,NaN,Hertz Wexford,NVD Rosslare,NaN,Hertz Wexford,VSI2,VSI2,NaN,2020-09-22,10:00,2020-09-22,09:59,NaN,NaN,2020-09-11,08:29
105403,NaN,First Choice Commercials,NVD Baldonnel,NaN,First Choice Commercials,DANNIEKIS,DANNIEKIS,NaN,2020-09-08,13:59,2020-09-08,13:59,2020-09-09,23:59,2020-08-28,13:40

In [13]:
#drop rows that contain null values
df.dropna(axis=0, inplace=True)

In [14]:
#making sure sum of all null values in dataframe is zero
df.isnull().sum().sum()

0

In [15]:
#check updated dimension of data
df.shape

(98661, 16)

In [16]:
#inspect datatypes of each column
df.dtypes

Driver                   object
Start Location           object
Target Location          object
Tour                    float64
Final Location           object
startedby                object
completedby              object
Avg_CEU_per_tour        float64
start date               object
start time               object
end date                 object
end time                 object
target delivery date     object
target delivery time     object
order date               object
order time               object
dtype: object

In [17]:
#export cleaned and modified data to excel file
df.to_excel(r'C:\Users\John Uzoma\Documents\data analytics projects\cargo&driver_tracking\cleaned_Rohit.xlsx', index=False)

## Click the link in the ReadMe section to view Tableau visualizations.